{% extends 'base.html' %}
{% block content %}
<div class="container my-3">
    <form method="post" class="post-form">
        {% csrf_token %}
        {% include "form_errors.html" %}
        <div class="form-group">
            <label for="content">답변내용</label>
            <!--|default_if_none:'' 은 공백이면 none표시말고 공백표시하라는 뜻-->
            <textarea class="form-control" name="content" id="content" rows="10">{{form.content.value|default_if_none:''}}
            </textarea>
        </div>
        <button type="submit" class="btn btn-primary">저장하기</button>
    </form>
</div>
{% endblock%}